<div class="row">
    <div class="col-4">
        One Way Data Binding - From .ts to .html ( .ts -> .html )
    </div>
    <div class="col-4">
        
    </div>
    <div class="col-4">
        
    </div>
</div>
<div class="row">
    <div class="col-4">
        
        <div class="row">            
            <div class="col-4 bg-success">
                Interpolation
                <h3>{{courseName}}</h3>
                <div>{{courseName}}</div>
                <input type="text" value="{{courseName}}" placeholder="Enter course"/>
                <input type="{{inputType}}">
            </div>
            <div class="col-4">
                Property Binding
                <div [class]="myClassName">                    
                    Just put the property you want to bind into [] and use the variable name directly in = 
                    <input type="text" [value]="courseName"/>
                    <input [type]="inputType"/>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-4">

        Event Binding - One way data - .html -> .ts
        <br/>

        <button (click)="showMessage('Angular18')" class="btn btn-success">Show Welcome</button>
        <span (click)="showMessage('This is from Span')">Click this Span</span>

        <button (click)="changeCourseName()" class="btn btn-success">Change Course Name</button>
    </div>
    <div class="col-4">
        Here WE Go
        <input type="text" [(ngModel)]="courseName"  placeholder="Enter course"/>
        <select [(ngModel)]="stateName">
            <option value="">Select State</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Goa">Goa</option>
            <option value="Manipur">Manipur</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Rajasthan">Rajasthan</option>
        </select>

        <h3>{{firstName()}}</h3>

    </div>
</div>

